<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <%= image_tag "mobile.jpg", class: "img-fluid" %>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <h5>MI CUENTA</h5>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div>
      <br>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <!-- <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div> -->
      <% end %>
      <br>

      <div class="actions">
        <%= f.submit "INICIAR CUENTA", class: "btn btn-dark" %>
      </div>
    <% end %>

    <%#= render "users/shared/links" %>
  </div>
  <div class="col-md-1">
  </div>
</div>