<section class="content-wrapper" style="padding-left: 10%;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="col-left">
        <%= image_tag "mobile.jpg", class: "img-fluid" %>
      </div>
      <div class="col-right">
        <div class="field">
          <div class="col-left">
          </div>
          <div class="col-right">
            <h5>MI CUENTA</h5>
          </div>
        </div>
        <div class="field">
          <div class="col-left">
          </div>
          <div class="col-right">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputdata", placeholder: "Email", required: true %>
          </div>
        </div>
        <div class="field">
          <div class="col-left">
          </div>
          <div class="col-right">
            <%= f.password_field :password, autocomplete: "current-password", class: "inputdata", placeholder: "Password", required: true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "INICIAR CUENTA", class: "submitProduct" %>
        </div>
      </div>
    </div>
  <% end %>
</section>
