<section class="content-wrapper single">
  <h1 class="single-product-title"><%= @product.name %></h1>
  
  <h3 class="single-product-field">Descripción</h3>
  <p><%= @product.description %></p>
  <hr>
  
  <h3 class="single-product-field">Ingredientes</h3>
  <p><%= @product.ingredients %></p>
  <hr>
  
  <h3 class="single-product-field">Tipo de cocina</h3>
  <p>Asiática, Italiana</p>
  <hr>
  
  <h3 class="single-product-field">Precio</h3>
  <!-- <p>10,90 Eur</p> -->
  <p><%= @product.price %> Eur</p>
  <hr>
  
  <h3 class="single-product-field">...</h3>
  <p>...</p>
  <hr>
  
  <h3 class="single-product-field">...</h3>
  <p>...</p>
  <hr>
  
  <h3 class="single-product-field">Imagen</h3>
  <div class="photo-preview">
    <div id="imagePreview" style="background-image: url('<%= @product.image_url %>');"></div>
  </div>
  <p>&nbsp;</p>
  <hr>
  
  <%= link_to 'Volver', products_path, class: "single-button" %>
  <%= link_to 'Editar', edit_product_path(@product), class: "single-button" %>
</section>

<!-- <p>
  <strong>Stock:</strong>
  <%#= @product.available_quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%#= @product.weight %>
</p>

<p>
  <strong>Status:</strong>
  <%#= @product.status_name %>
</p>
 -->
